Thomas Dougherty

Probability and Statistics for Computer Science


Introduction

    To Do:

    Figure out script to iterate through and cleanup all CSVs

    Store data from all CSVs

    Aggregate data from *all* CSVs into one dataframe

In [1]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
from helper_functions import *

#read CSV for March 2018
services = pd.read_csv('data\\2018_03.csv',index_col=False)

#status column is not needed so that will be dropped
services.drop(labels=['status'], axis=1, inplace=True)
# Amtrak rows are dropped because OTP of Amtrak was not tracked in the dataset
services.drop(services[services['type'] == 'Amtrak'].index, inplace=True)
services.astype({'date' : 'datetime64',
                'train_id' : 'category',
                'stop_sequence' : 'float16',
                'from' : 'category',
                'from_id': 'category',
                'to' : 'category',
                'to_id': 'category',
                'scheduled_time' : 'datetime64',
                'actual_time' : 'datetime64',
                'delay_minutes' : 'float16',
                'line' : 'category',
                'type' : 'category'})
services.dtypes
services.head(10)

,date,train_id,stop_sequence,from,from_id,to,to_id,scheduled_time,actual_time,delay_minutes,line,type
0,2018-03-01,3805,1.0,New York Penn Station,105,New York Penn Station,105,2018-03-02 01:22:00,2018-03-02 01:21:05,0.000000,Northeast Corrdr,NJ Transit
1,2018-03-01,3805,2.0,New York Penn Station,105,Secaucus Upper Lvl,38187,2018-03-02 01:31:00,2018-03-02 01:31:08,0.133333,Northeast Corrdr,NJ Transit
2,2018-03-01,3805,3.0,Secaucus Upper Lvl,38187,Newark Penn Station,107,2018-03-02 01:40:00,2018-03-02 01:40:07,0.116667,Northeast Corrdr,NJ Transit
3,2018-03-01,3805,4.0,Newark Penn Station,107,Newark Airport,37953,2018-03-02 01:45:00,2018-03-02 01:45:10,0.166667,Northeast Corrdr,NJ Transit
4,2018-03-01,3805,5.0,Newark Airport,37953,North Elizabeth,109,2018-03-02 01:49:00,2018-03-02 01:49:10,0.166667,Northeast Corrdr,NJ Transit
5,2018-03-01,3805,6.0,North Elizabeth,109,Elizabeth,41,2018-03-02 01:52:00,2018-03-02 01:52:01,0.016667,Northeast Corrdr,NJ Transit
6,2018-03-01,3805,7.0,Elizabeth,41,Linden,70,2018-03-02 01:58:00,2018-03-02 01:58:05,0.083333,Northeast Corrdr,NJ Transit
7,2018-03-01,3805,8.0,Linden,70,Rahway,127,2018-03-02 02:02:00,2018-03-02 02:01:03,0.000000,Northeast Corrdr,NJ Transit
8,2018-03-01,3805,9.0,Rahway,127,Metropark,83,2018-03-02 02:08:00,2018-03-02 02:08:00,0.000000,Northeast Corrdr,NJ Transit
9,2018-03-01,3805,10.0,Metropark,83,Metuchen,84,2018-03-02 02:13:00,2018-03-02 02:13:10,0.166667,Northeast Corrdr,NJ Transit

In [2]:
 #create new dataframe with data broken down by line
njt_lines=services['line'].unique()
max_delays = pd.Series(helper.get_max_delay(services,njt_lines)).round(3)
avg_delays = pd.Series(helper.get_avg_delay(services,njt_lines)).round(3)
dates = pd.Series(helper.get_delay_date(services,njt_lines))

print(dates)
performance_by_line = pd.DataFrame({'Longest Delay (minutes)': max_delays.values,
                                   'Average Delay (minutes)': avg_delays.values,
                                   'Date of Longest Delay' : dates.values},
                                    index=njt_lines)
                    
performance_by_line.astype({'Longest Delay (minutes)' :'float16',
                            'Average Delay (minutes)' :'float16',
                            'Date of Longest Delay' : 'datetime64'
                            })

performance_by_line

0         89468    2018-03-12
Name: date, dtype: object
1          4655    2018-03-01
Name: date, dtype: object
2     52565    2018-03-07
52566    2018-03-07
52567 ...
3         11067    2018-03-02
Name: date, dtype: object
4         15026    2018-03-02
Name: date, dtype: object
5     55882    2018-03-07
55885    2018-03-07
55886 ...
6     54531    2018-03-07
54533    2018-03-07
54534 ...
7         55508    2018-03-07
Name: date, dtype: object
8         54448    2018-03-07
Name: date, dtype: object
9         29514    2018-03-04
Name: date, dtype: object
10        53170    2018-03-07
Name: date, dtype: object
dtype: object

TypeError: <class 'pandas.core.series.Series'> is not convertible to datetime

Visualization of On-Time Performance by Rail Line

    notes: Princeton Shuttle is outlier considering it's short trip distance

In [ ]:
ax = performance_by_line.plot.bar()
ax