Thomas Dougherty

Probability and Statistics for Computer Science


### Analysis of the On-Time Performance (OTP) of New Jersey Transit Commuter Rail<br>
On-time performance refers to the level of success of a service adhering to its schedule. In this example I'll be exploring NJT commuter rail from March 2018 to March 2020. On-time performance data can be used for schedule planning, passenger information systems, and comparison to weather data.

Data cleanup

In [2]:
import os
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
from helper_functions import *


#all_services = helper.combine_csvs("data\\services\\")
print("Reading CSV....")
all_services = pd.read_csv('data\\all_services.csv')
all_services = helper.format_services(all_services)

weather = pd.read_csv('data\\weather.csv')
all_services.head(10)

Dropping columns...
Changing datatypes...
Done formatting dataframe

,date,train_id,stop_sequence,from,from_id,to,to_id,scheduled_time,actual_time,delay_minutes,line,type
0,2018-03-01,3805,1.0,New York Penn Station,105.0,New York Penn Station,105.0,2018-03-02 01:22:00,2018-03-02 01:21:05,0.000000,Northeast Corrdr,NJ Transit
1,2018-03-01,3805,2.0,New York Penn Station,105.0,Secaucus Upper Lvl,38187.0,2018-03-02 01:31:00,2018-03-02 01:31:08,0.133301,Northeast Corrdr,NJ Transit
2,2018-03-01,3805,3.0,Secaucus Upper Lvl,38187.0,Newark Penn Station,107.0,2018-03-02 01:40:00,2018-03-02 01:40:07,0.116638,Northeast Corrdr,NJ Transit
3,2018-03-01,3805,4.0,Newark Penn Station,107.0,Newark Airport,37953.0,2018-03-02 01:45:00,2018-03-02 01:45:10,0.166626,Northeast Corrdr,NJ Transit
4,2018-03-01,3805,5.0,Newark Airport,37953.0,North Elizabeth,109.0,2018-03-02 01:49:00,2018-03-02 01:49:10,0.166626,Northeast Corrdr,NJ Transit
5,2018-03-01,3805,6.0,North Elizabeth,109.0,Elizabeth,41.0,2018-03-02 01:52:00,2018-03-02 01:52:01,0.016663,Northeast Corrdr,NJ Transit
6,2018-03-01,3805,7.0,Elizabeth,41.0,Linden,70.0,2018-03-02 01:58:00,2018-03-02 01:58:05,0.083313,Northeast Corrdr,NJ Transit
7,2018-03-01,3805,8.0,Linden,70.0,Rahway,127.0,2018-03-02 02:02:00,2018-03-02 02:01:03,0.000000,Northeast Corrdr,NJ Transit
8,2018-03-01,3805,9.0,Rahway,127.0,Metropark,83.0,2018-03-02 02:08:00,2018-03-02 02:08:00,0.000000,Northeast Corrdr,NJ Transit
9,2018-03-01,3805,10.0,Metropark,83.0,Metuchen,84.0,2018-03-02 02:13:00,2018-03-02 02:13:10,0.166626,Northeast Corrdr,NJ Transit

March 2018 - Use with weather data

In [ ]:
 #create new dataframe with data broken down by line
mar_2018 = all_services[(all_services['date'].dt.month == 3) & (all_services['date'].dt.year == 2018)]
njt_lines=mar_2018['line'].unique()
# get data for new df columns
max_delays = pd.Series(helper.get_max_delay(mar_2018,njt_lines)).round(3)
avg_delays = pd.Series(helper.get_avg_delay(mar_2018,njt_lines)).round(3)
dates = pd.Series(helper.get_delay_date(mar_2018,njt_lines))
train_ids = pd.Series(helper.get_train_ids(mar_2018,njt_lines))

performance_by_line_march = helper.create_new_dataframe(njt_lines, max_delays, avg_delays, dates)

march_weather = helper.format_weather(weather,'March')
march_weather.head(10)

### Visualization of On Time Performance
Divide into On Time, 3-5 minutes late, 5-10 minutes late, >10 minutes late <br>
Iterate through delay minutes column, check for lateness, then count<br>

In [22]:
# count the categorize of on time performance
lateness_count = helper.categorize_lateness(all_services)
late_labels = ['On Time', '3-5 Minutes Late', '5-10 Minutes Late', 'More Than 10 Minutes Late']
late_colors = ['#4CAF50', 'yellow', '#FF7043', 'red']
# create visualization 
print(lateness_count)

plt.pie(lateness_count, colors=late_colors, figsize=(6,6))
plt.legend(loc='lower right', labels = late_labels)

plt.show()

[3093406, 1161481, 1009126, 769820]

AttributeError: 'list' object has no attribute 'plot'